<head>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    #mipiacecount {
    color: green;
    font-size: 40px;
    user-select: none;
}
i[id^="mipiacebtn"] {
    color: green;
    font-size: 35px;
    user-select: none;
}
#mipiacepressed {
    color: #003311;
    font-size: 35px;
    user-select: none;
}
#nonmipiacepressed {
    color:#660000;
}
i[id^="mipiacebtn"]:hover{
    color:#003311;
    font-size: 35px;
    user-select: none;
}
i[id^="nonmipiacebtn"]{
    color: red;
    font-size: 35px;
    user-select: none;
}
i[id^="nonmipiacebtn"]:hover{
    color:#660000;
}

    #divdomande{
    font-family: 'Merriweather', serif;
	    width: 700px;
	    margin: left;
	    border: 3px solid black;
	    color:black;
	    position: relative;
	    overflow: auto;
	    text-align: left;
	    padding: 10px 10px;
	    border-radius: 10px 10px 10px 10px;
    }
#nonmipiacecount {
    color: red;
    font-size: 40px;
    user-select: none;
}

    #divdomande{
    font-family: 'Merriweather', serif;
	    width: 700px;
	    margin: left;
	    border: 3px solid black;
	    color:black;
	    position: relative;
	    overflow: auto;
	    text-align: left;
	    padding: 10px 10px;
	    border-radius: 10px 10px 10px 10px;
    }
    .usertag {
 background:url('https://dh3vbjnk0bnfa.cloudfront.net/static/centralauth/images/btn-login-hover.png') no-repeat 5px 5px #484B4F;
  width: 100px;
  align: right
  padding:10px 20px 10px 0;
  border-radius: 20%;
  border: 2px solid white;
  color:White;
  font-size:14px;
  text-align:center;
  font-weight: bold;
  -webkit-transition-duration: 0.4s;
  cursor: pointer;
}
.usertag:hover {
    background-color: black;
}
.my-btn {
    background-color:transparent;
    border: none;
    color: #ff4d4d;
    padding: 7px 13px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}
.my-btn:hover {
    color: #990000;
}
  </style>
</head>
<body>

<div id='divdomande'>
   <b> <%= domande.user.name %>: </b> <span>  </span> <%= button_to "profilo", domande.user, class: 'usertag', method: :get %>
  <br>
  <%= domande.content %>
  <br>
  <i class="fa fa-thumbs-up" id="mipiacecount"></i>  <b><font size="6"><%= domande.voti_ds.where("voto=?", true).count %></font></b>
  <i class="fa fa-thumbs-down" id="nonmipiacecount"></i>  <b><font size="6"><%= domande.voti_ds.where("voto=?", false).count %></font> </b>
  <% if domande.rispostes.any? %>
                 <h3>Numero Risposte: <%= domande.rispostes.count %></h3>
                <%= render domande.rispostes %>
             <% end %>
</div>
  <%= link_to vote_question_path(domande.user.id,domande.id, 1) do %>
  <i class="fa fa-thumbs-up" id="mipiacebtn<%= domande.id.to_s %>"> </i>
  <% end %>
  <%= link_to vote_question_path(domande.user.id,domande.id, 0) do %>
  <i class="fa fa-thumbs-down" id="nonmipiacebtn<%= domande.id.to_s %>"></i>
  <% end %>
   <%= javascript_tag do %>
    var btnlike=document.getElementById("mipiacebtn<%= domande.id.to_s %>" );
    var btndislike=document.getElementById("nonmipiacebtn<%= domande.id.to_s %>" );

    <% if !domande.voti_ds.find_by(:user_id => currentuser.id).nil? %>
       <% if !domande.voti_ds.find_by(:user_id => currentuser.id).voto %>
             btndislike.style.color="black";
      <% else %>
             btnlike.style.color="black";
     <% end %>
    <% end %>
  <% end %>
  <% if currentuser.admin? || currentuser==domande.user %>
      <%= button_to "X", cancelladomande_path(domande.id), class: 'my-btn', method: :get %>
    <% end %>
</body>
