<style>

.my-btn {
    background-color:transparent;
    border: none;
    color: #ff4d4d;
    padding: 7px 13px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}
.my-btn:hover {
    color: #990000;
}

.profilo {
 background:url('https://dh3vbjnk0bnfa.cloudfront.net/static/centralauth/images/btn-login-hover.png') no-repeat 5px 5px #484B4F;
  width: 80px;
  height: 30px;
  align: right
  padding:10px 20px 10px 0;
  border-radius: 40%;
  border: 3px solid black;
  color:White;
  font-size:14px;
  text-align:center;
  font-weight: bold;
  display: inline-block
  -webkit-transition-duration: 0.4s;
  cursor: pointer;
}
.profilo:hover {
    background-color: black;
}
.adminbtn {
 background:url('https://dh3vbjnk0bnfa.cloudfront.net/static/centralauth/images/btn-login-hover.png') no-repeat 5px 5px #484B4F;
  width: 80px;
  height: 30px;
  align: right
  padding:10px 20px 10px 0;
  background-color: #cccc00;
  border-radius: 40%;
  border: 3px solid black;
  color:White;
  font-size:14px;
  text-align:center;
  font-weight: bold;
  display: inline-block
  -webkit-transition-duration: 0.4s;
  cursor: pointer;
}
.adminbtn:hover {
    background-color: #808000;
}
.button_to,
.button_to div {
  display: inline;
}
.admin{
  color:green;
}
.profilo.follow.unfollow{
  display: flex;
  flex-direction: row;
}
.sameline div{
  display: inline-block;
}
</style>

<li>
  <span><%= gravatar_for user%> </span>
  <span><b> Nickname: </b> <%= user.name %></span>
  <span class="admin">
  <% if user.admin? %>
  <b> Admin </b>
  <% end %>
  </span>
  <br>
  <div class="sameline">
   <% @user=user %>
  <%= button_to "profilo", user, class: 'profilo', method: :get %>
  <% if currentuser!=user %>
    <%= render 'admin_check' %>
  <% end %>
      <% if logged_in? %>
      <%= render 'follow_form' %>
	<% end %>
  <% if logged_in? && currentuser.admin? || currentuser==user %>
    <%= button_to "X", cancellautente_path(user), class: 'my-btn', method: :get  %>
  <% end %>
  <%= render 'shared/stats' %>
  </div>
  <br>
</li>
<br>
<br>
